<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>approve.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1430},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>

			<key>b10.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1248},{480,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,313}}</string>
				<key>sourceSize</key>
				<string>{480,313}</string>
			</dict>

			<key>b5.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,310}}</string>
				<key>sourceSize</key>
				<string>{480,310}</string>
			</dict>

			<key>b6.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,623},{480,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,313}}</string>
				<key>sourceSize</key>
				<string>{480,313}</string>
			</dict>

			<key>b7.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,311}}</string>
				<key>sourceSize</key>
				<string>{480,311}</string>
			</dict>

			<key>b8.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{480,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,310}}</string>
				<key>sourceSize</key>
				<string>{480,310}</string>
			</dict>

			<key>b9.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,937},{480,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,310}}</string>
				<key>sourceSize</key>
				<string>{480,310}</string>
			</dict>

			<key>bad.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{736,1175},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>captain.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{987,1432},{97,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,102}}</string>
				<key>sourceSize</key>
				<string>{97,102}</string>
			</dict>

			<key>evil_token.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,311},{445,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,20},{445,431}}</string>
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>

			<key>fail.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1306,0},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>foldedmission.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{987,812},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>good.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,1175},{254,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,410}}</string>
				<key>sourceSize</key>
				<string>{254,410}</string>
			</dict>

			<key>good_token.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,743},{445,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,25},{445,431}}</string>
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>

			<key>lake.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{927,311},{378,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{378,500}}</string>
				<key>sourceSize</key>
				<string>{378,500}</string>
			</dict>

			<key>mission.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1174,205},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>

			<key>q_assassin.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{136,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,217}}</string>
				<key>sourceSize</key>
				<string>{136,217}</string>
			</dict>

			<key>q_evil_1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1306,413},{127,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,203}}</string>
				<key>sourceSize</key>
				<string>{127,203}</string>
			</dict>

			<key>q_merlin.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1425,617},{115,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,184}}</string>
				<key>sourceSize</key>
				<string>{115,184}</string>
			</dict>

			<key>q_mordred.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{987,1225},{129,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,206}}</string>
				<key>sourceSize</key>
				<string>{129,206}</string>
			</dict>

			<key>q_morgana.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1117,1225},{128,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,204}}</string>
				<key>sourceSize</key>
				<string>{128,204}</string>
			</dict>

			<key>q_morganamerlin.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1099,0},{128,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,204}}</string>
				<key>sourceSize</key>
				<string>{128,204}</string>
			</dict>

			<key>q_oberon.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1246,1225},{127,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,203}}</string>
				<key>sourceSize</key>
				<string>{127,203}</string>
			</dict>

			<key>q_percival.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1306,617},{118,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,188}}</string>
				<key>sourceSize</key>
				<string>{118,188}</string>
			</dict>

			<key>q_servant_1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1374,1225},{118,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,189}}</string>
				<key>sourceSize</key>
				<string>{118,189}</string>
			</dict>

			<key>reject.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1099,205},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>

			<key>servant_1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1374,1415},{100,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,159}}</string>
				<key>sourceSize</key>
				<string>{100,159}</string>
			</dict>

			<key>success.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1238,812},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>unknown.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1434,413},{100,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,159}}</string>
				<key>sourceSize</key>
				<string>{100,159}</string>
			</dict>

			<key>vote.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1432},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1557,1588}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>