#prepare {
	display: none;
}


#waiting-number {
	position: fixed;
	top: 50px;
	left: 50px;
	color: white;
}

#spectating-number {
	position: fixed;
	top: 100px;
	left: 50px;
	color: white;
}

#ready {
	position: fixed;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 40%;
	font-size: 5em;
	color: white;
	border: none;
	border-radius: 50px;
	background: tomato;
	opacity: .9;
}

#ready:hover {
	opacity: 1;
}

#ready.disable {
	opacity: .5;
	cursor: not-allowed;
}

#ready.active {
	border: 5px solid cornflowerblue;
}

#togglespectate {}

#game {
	display: none;
}

#cards {
	display: flex;
	flex-wrap: all;
}

.player-card {
	position: relative;
	z-index: 9;
	width: 150px;
	text-align: center;
}

.player-card img {
	width: 80%;
}

#story {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .7);
	z-index: 12;
}

#story #text {
	color: white;
}

#mission {
	position: fixed;
	left: -200px;
	top: -200px;
	z-index: 10;
}

#mission img {
	border-radius: 50%;
}