#prepare {
	display: none;
}


#waiting-number {
	position: fixed;
	top: 50px;
	left: 50px;
	color: white;
}

#spectating-number {
	position: fixed;
	top: 100px;
	left: 50px;
	color: white;
}

#ready {
	position: fixed;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 40%;
	font-size: 5em;
	color: white;
	border: none;
	border-radius: 50px;
	background: tomato;
	opacity: .9;
}

#ready:hover {
	opacity: 1;
}

#ready.disable {
	opacity: .5;
	cursor: not-allowed;
}

#ready.active {
	border: 5px solid cornflowerblue;
}

#togglespectate {}

#game {
	display: none;
}

#upper {
	width: 100%;
}

#upper img {
	max-height: 350px;
}

#board {
	width: 60%;
	padding: 20px 20%;
}

#confirm {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	margin: 20px 20%;
}

#confirm #text {
	width: 50%;
	height: 80px;
	border-radius: 25px;
	background: tomato;
	margin: 25%;
	color: white;
	line-height: 80px;
	text-align: center;
	cursor: pointer;
}

#team .teamate {
	position: fixed;
	transition-duration: .4s;
	top: 0;
	left: 0;
	border-radius: 20px;
	height: 80px;
	z-index: 10;
}

#cards {
	display: flex;
	flex-wrap: all;
}

.player-card {
	position: relative;
	z-index: 9;
	width: 150px;
	text-align: center;
}

.player-card img.character {
	width: 80%;
}

.player-card img.captain, .player-card img.vote {
	display: none;
	position: absolute;
	left: 0;
	width: 50px;
	border-radius: 20px;
}

.player-card img.vote {
	width: 40px;
	bottom: 0;
}

#captain {
	position: fixed;
	left: -200px;
	top: -200px;
	z-index: 10;
}

#captain img {
	border-radius: 50%;
	width: 50px;
}

#story, #vote {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .2);
	z-index: 12;
}

#story #text {
	color: white;
}

#vote #approve, #vote #reject {
	position: fixed;
	left: 50px;
	top: calc(50% - 100px);
	height: 200px;
}

#vote #reject {
	left: auto;
	right: 50px;
}

#vote img {
	width: 130px;
	cursor: pointer
}

#vote #approve:hover img, #vote #reject:hover img {
	outline: 25px solid rgb(200, 200, 255, .6);
}