section#login {
	position: fixed;
	width: 400px;
	height: 400px;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	text-align: center;
}

#login input {
	margin: 10px 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-radius: 10px;
	font-size: 24px;
}

section#login #login,
section#login #rejoin {
	width: 120px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	background: cornflowerblue;
	color: white;
}

section#login #rejoin {
	background: tomato;
}

section#login #login:hover,
section#login #rejoin:hover {
	font-weight: bold;
}

#login #turtorial {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	background: tomato;
	color: white;
}