<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>unkown.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>good.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1202},{335,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,419}}</string>
				<key>sourceSize</key>
				<string>{335,419}</string>
			</dict>

			<key>percival.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1202},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>assassin.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,0},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>vote.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,601},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>good_token.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1202},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>oberon.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,0},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>captian.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1548},{536,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,286}}</string>
				<key>sourceSize</key>
				<string>{536,286}</string>
			</dict>

			<key>morgana.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,601},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>mordred.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,0},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>merlin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,601},{376,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,600}}</string>
				<key>sourceSize</key>
				<string>{376,600}</string>
			</dict>

			<key>morganamerlin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1202},{470,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,750}}</string>
				<key>sourceSize</key>
				<string>{470,750}</string>
			</dict>

			<key>agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,0},{470,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,750}}</string>
				<key>sourceSize</key>
				<string>{470,750}</string>
			</dict>

			<key>evil_token.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,751},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>round.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1202},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1267},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1332},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>rounded-rect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1397},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>


		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites-0.png</string>
		</dict>
	</dict>
</plist>