<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>approve.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,314},{470,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,750}}</string>
				<key>sourceSize</key>
				<string>{470,750}</string>
			</dict>

			<key>assassin.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1559},{136,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,217}}</string>
				<key>sourceSize</key>
				<string>{136,217}</string>
			</dict>

			<key>b10.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,313}}</string>
				<key>sourceSize</key>
				<string>{480,313}</string>
			</dict>

			<key>b5.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,310}}</string>
				<key>sourceSize</key>
				<string>{480,310}</string>
			</dict>

			<key>b6.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,311},{480,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,313}}</string>
				<key>sourceSize</key>
				<string>{480,313}</string>
			</dict>

			<key>b7.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,625},{480,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,311}}</string>
				<key>sourceSize</key>
				<string>{480,311}</string>
			</dict>

			<key>b8.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,937},{480,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,310}}</string>
				<key>sourceSize</key>
				<string>{480,310}</string>
			</dict>

			<key>b9.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1248},{480,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,310}}</string>
				<key>sourceSize</key>
				<string>{480,310}</string>
			</dict>

			<key>bad.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1586,826},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>captain.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{952,1679},{97,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,102}}</string>
				<key>sourceSize</key>
				<string>{97,102}</string>
			</dict>

			<key>evil.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1090,0},{127,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,203}}</string>
				<key>sourceSize</key>
				<string>{127,203}</string>
			</dict>

			<key>evil_token.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,746},{445,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,20},{445,431}}</string>
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>

			<key>fail.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1398,413},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>foldedmission.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1586,1239},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>good.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1178},{254,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,410}}</string>
				<key>sourceSize</key>
				<string>{254,410}</string>
			</dict>

			<key>good_token.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,314},{445,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,25},{445,431}}</string>
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>

			<key>lake.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{952,1178},{378,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{378,500}}</string>
				<key>sourceSize</key>
				<string>{378,500}</string>
			</dict>

			<key>merlin.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1398,826},{115,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,184}}</string>
				<key>sourceSize</key>
				<string>{115,184}</string>
			</dict>

			<key>mission.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{396,1659},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>

			<key>mordred.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{137,1559},{129,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,206}}</string>
				<key>sourceSize</key>
				<string>{129,206}</string>
			</dict>

			<key>morgana.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{267,1559},{128,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,204}}</string>
				<key>sourceSize</key>
				<string>{128,204}</string>
			</dict>

			<key>morganamerlin.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1065},{470,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,750}}</string>
				<key>sourceSize</key>
				<string>{470,750}</string>
			</dict>

			<key>oberon.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{127,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,203}}</string>
				<key>sourceSize</key>
				<string>{127,203}</string>
			</dict>

			<key>percival.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1218,0},{118,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,188}}</string>
				<key>sourceSize</key>
				<string>{118,188}</string>
			</dict>

			<key>reject.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{962,204},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>

			<key>servant.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1589},{118,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,189}}</string>
				<key>sourceSize</key>
				<string>{118,189}</string>
			</dict>

			<key>success.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1398,0},{250,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,412}}</string>
				<key>sourceSize</key>
				<string>{250,412}</string>
			</dict>

			<key>unknown.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1398,1011},{100,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,159}}</string>
				<key>sourceSize</key>
				<string>{100,159}</string>
			</dict>

			<key>vote.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{396,1559},{74,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,99}}</string>
				<key>sourceSize</key>
				<string>{74,99}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1837,1816}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>