<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>麥瓦隆</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/css/login.css">
	<link rel="stylesheet" href="/static/css/game.css">
	<script>
		if (!("path" in Event.prototype))
		Object.defineProperty(Event.prototype, "path", {
		  get: function() {
		    var path = [];
		    var currentElem = this.target;
		    while (currentElem) {
		      path.push(currentElem);
		      currentElem = currentElem.parentElement;
		    }
		    if (path.indexOf(window) === -1 && path.indexOf(document) === -1)
		      path.push(document);
		    if (path.indexOf(window) === -1)
		      path.push(window);
		    return path;
		  }
		});
	</script>
</head>
<body>
	<main>
		<section id="login">
			<input id="name" type="text" placeholder="名字"> <br>
			<input id="secret" type="password" placeholder="密語">
			<button id="login" onclick="login()">送出</button>

			<button id="turtorial">教學</button>
		</section>
		<section id="prepare">
			<div id="player-number">
				<h3>連線人數: <span id="waiting-number">0</span></h3>
				<h4>已準備人數: <span id="ready-number">0</span></h4>
				<h5>觀看人數: <span id="spectating-number">0</span></h5>
			</div> 

			<button id="ready" class="disable" onclick="ready()">準備</button>
			<button id="togglespectate"></button>
		</section>
		<section id="game">
			<div id="upper">
				<div id="board">
					<div id="tokens"></div>
					<div id="failed"></div>
				</div>
				<div id="confirm">
					<h2 id="text" onclick="confirmTeam()">出發</h2>
				</div>
			</div>
			<div id="cards"></div>

			<div id="reconnect">
				<h3>斷線玩家</h3>
				<em>* 在選單選擇重新加入, 並輸入名字後面的代碼</em>
				<div id="text"></div>
			</div>

			<!-- <div id="captain"></div> -->
			<div id="story">
				<h2 id="text"></h4>
			</div>
			<div id="vote">
				<div id="approve" onclick="approveTeam()"></div>
				<div id="reject" onclick="rejectTeam()"></div>
			</div>
			<div id="mission">
				<div id="success" onclick="missionSuccess()"></div>
				<div id="fail" onclick="missionFail()"></div>
			</div>
		</section>
	</main>

	<!-- popup frame -->
	<div id="black-bg"></div>
	<div id="waiting"></div>
	<div id="socketclose">伺服器斷線，試試重新整理</div>
	<div id="wrongsecret">密語錯誤 !</div>
	<div id="assassin-merlin">準備刺殺梅林</div>


	<script src="/static/script/jquery.min.js"></script>
	<script src="/static/script/jythons.js"></script>
	<script src="/static/script/login.js"></script>
	<script src="/static/script/story.js"></script>
	<script src="/static/script/game.js"></script>
</body>
</html>