<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阿瓦隆</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/css/login.css">
	<link rel="stylesheet" href="/static/css/game.css">
</head>
<body>
	<main>
		<section id="login">
			<input id="name" type="text" placeholder="名字"> <br>
			<input id="secret" type="text" placeholder="密語">
			<button id="login" onclick="login()">送出</button>

			<button id="turtorial">教學</button>
		</section>
		<section id="prepare">
			<h3 id="waiting-number"></h3>
			<h4 id="spectating-number"></h4>

			<button id="ready" class="disable" onclick="ready()">準備</button>
			<button id="togglespectate"></button>
		</section>
		<section id="game">
			<div id="upper">
				<div id="board">
					<div class="tokens"></div>
				</div>
				<div id="votes"></div>
			</div>
			<div id="cards"></div>
			<div id="captain"></div>
			<div id="story">
				<h2 id="text"></h4>
			</div>
		</section>
	</main>

	<!-- popup frame -->
	<div id="black-bg"></div>
	<div id="waiting"></div>
	<div id="wrongsecret">密語錯誤 !</div>


	<script src="/static/script/jquery.min.js"></script>
	<script src="/static/script/jythons.js"></script>
	<script src="/static/script/login.js"></script>
	<script src="/static/script/story.js"></script>
	<script src="/static/script/game.js"></script>
</body>
</html>