<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阿瓦隆</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
	<main>
		<section id="login">
			<input id="name" type="text" placeholder="名字"> <br>
			<input id="secret" type="text" placeholder="密語">
			<button id="login" onclick="login()">送出</button>

			<button id="turtorial">教學</button>
		</section>
	</main>
	<script src="/static/script/jquery.min.js"></script>
	<script src="/static/script/model.js"></script>
	<script src="/static/script/login.js"></script>
	<script src="/static/script/game.js"></script>
</body>
</html>