<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<iframe src="/" width="800" height="400" frameborder="2"></iframe>
	<iframe src="/" width="800" height="400" frameborder="2"></iframe>
	<iframe src="/" width="800" height="400" frameborder="2"></iframe>
	<iframe src="/" width="800" height="400" frameborder="2"></iframe>
	<iframe src="/" width="800" height="400" frameborder="2"></iframe>
	<iframe src="/" width="800" height="400" frameborder="2"></iframe>
	<iframe src="/" width="800" height="400" frameborder="2"></iframe>
</body>
</html>